.quill {
  border: 1px solid rgb(242, 244, 247);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 400px;

  .ql-snow.ql-toolbar {
    border-bottom-color: rgb(242, 244, 247);
    border-left: none;
    border-right: none;
    border-top: none;
    box-sizing: border-box;
    font-family:
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
    padding: 8px;
  }

  .ql-toolbar.ql-snow + .ql-container.ql-snow {
    border-top: 0;
    border-bottom: none rgb(242, 244, 247);
    border-left: none;
    border-right: none;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    height: auto;
    overflow: hidden;
  }
}
