.reset-password {
  &__background {
    background-image: url(https://source.unsplash.com/random?wallpapers);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
