$black: #000000;
$grayDark: #242424;
$grayDarker: #27272a;
$grayDarkest: #38383d;
$blueDark: #0b74e5;
$blueDarker: #1d90b3;
$blueMedium: #0a68ff;
$blueMediumLight: #0060ff;
$blueMediumDark: #0d5cb6;
$blueLighter: #94bfff;
$grayLight: #787878;
$grayMedium: #808089;
$gray: #c7c7c7;
$grayLighter: #ebebf0;
$grayLightest: #f5f5fa;
$yellowBright: #fcff00;
$yellowMedium: #fdd836;
$yellowLight: #ffe880;
$pinkLight: #ffaaaf;
$pinkPale: #ffdbde;
$white: #ffffff;
$redBright: #ff424e;
$redMedium: #ff424f;
$borderGray: #dddde3;
$bgPrimary: #f5f5fa;
$lineColor: #f2f2f2;
$lightBg: #efefef;
$lightMediumBg: #fafafa;
$green: #00ab56;
