// sass .\src\site-customer\scss\layouts\_footer.scss .\src\site-customer\styles\footer\style.css --watch

@import '../../../scss/bases/abstracts';

.footer {
  background-color: $white;
  padding: 12px;
  margin-top: 16px;

  &--heading {
    @include heading5($grayDarkest);

    margin-bottom: 12px;
  }

  @include maxWidth($lg) {
    width: 100%;
  }

  &__row {
    @include dGrid(5, 20px);

    @include maxWidth($md) {
      @include dGrid(2, 20px);
    }
  }

  &__list {
    @include heading6($grayMedium, 400);
  }

  &__link {
    display: block;
    margin-bottom: 8px;

    &:hover {
      text-decoration: underline;
    }
  }

  .holine {
    a {
      font-weight: 600;
      color: $grayDark;
    }
    span {
      display: block;
    }
  }

  &__icons {
    @include dFlex(start, start, 8px, wrap);
  }

  &__icon {
    display: block;
    height: 32px;

    svg {
      width: 32px;
      height: 32px;
    }
  }
}
